backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "projects"
    label: "Projects"
    folder: "src/content/projects"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "publishDate", widget: "datetime"}
      - {label: "Main Image", name: "mainImage", widget: "image"}
      - label: "Gallery (Optional)"
        name: "gallery"
        widget: "list"
        required: false
        summary: "{{fields.image}}"
        field: {label: "Image", name: "image", widget: "image"}
      - {label: "Tags", name: "tags", widget: "list", default: ["Patisserie"]}
      - {label: "Body", name: "body", widget: "markdown"}
