backend:
  name: git-gateway
  branch: main

media_folder: "src/assets/uploads"
public_folder: "../../assets/uploads"

collections:
  - name: "projects"
    label: "Projects"
    folder: "src/content/projects"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Publish Date", name: "publishDate", widget: "datetime"}
      - {label: "Main Image", name: "mainImage", widget: "image"}
      - {label: "Gallery", name: "gallery", widget: "list", field: {label: "Image", name: "image", widget: "image"}, required: false}
      - {label: "Tags", name: "tags", widget: "list", default: ["Patisserie"]}
      - {label: "Body", name: "body", widget: "markdown"}
